.spawnTable1 {
  width: 595px;
  height: 485px;
}

#user1 {
  top: 55px;
  left: -55px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#user0 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.spawnTable0 {
  height: 485px;
  width: 1585px;
}
