<div class="spawnTable0" id="user0">
  <div
    (click)="this.spawnMenu(0, $event)"
    style="position: absolute; width: 100%; height: 100%"
  ></div>
  <app-table-menu
    (despawnEvent)="this.despawnMenu(0)"
    [display]="this.displayMenuUser[0]"
    [menuCoordX]="this.spawnUserCoordinates[0][0]"
    [menuCoordY]="this.spawnUserCoordinates[0][1]"
  ></app-table-menu>
</div>

<div class="spawnTable1" id="user1">
  <div
    (click)="this.spawnMenu(1, $event)"
    style="
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
    "
  ></div>
  <app-table-menu
    (despawnEvent)="this.despawnMenu(1)"
    [display]="this.displayMenuUser[1]"
    [menuCoordX]="this.spawnUserCoordinates[1][0]"
    [menuCoordY]="this.spawnUserCoordinates[1][1]"
  ></app-table-menu>
</div>
