.gridContainer {
  box-sizing: border-box;
  position: relative;
  display: grid;
  top: 0px;
  grid-template-columns: 9.652vw 9.652vw 9.652vw;
  padding-left: 0.757vw;
  padding-top: 0.8201vw;
}

.gridButton {
  margin-right: 0.44164vw;
  margin-bottom: 0.441vw;
}

.gridAndFooter {
  width: 30.22082018927445vw;
  border: 1px solid black;
}

.a-footer {
  display: table-cell;
  vertical-align: middle;
  width: 30.22082018927445vw;
  height: 2.586vw;
  font-size: 1.514vw;
  padding-left: 15px;
  color: white;
  background-color: #373944;
}
