<div>
    <div class = ComponentContainer>
        <label class="CheckboxContainer">
            <div class = "TextAndCheckContainer">
                <h1 class = "text">{{title}}</h1>
                <input type="checkbox"  name="radio">
                <span class="checkmark"></span>
            </div>
            
            <div class = "imageContainer">
                <g-button
                    class='image'
                    iconSize='79.166'
                    icon='{{src}}'
                ></g-button>
            </div>       
          </label>     
    </div>
    <hr class = "line">
</div>

