<div  (click) = "select()">
    <div class = ComponentContainer>
            <div class = "TextAndCheckContainer">
                <img *ngIf = "selected !== grid.id"  class = "check" src = "../../../../assets/tv-grid/notSelected.png">
                <img *ngIf = "selected === grid.id"  class = "check" src = "../../../../assets/tv-grid/Selected.png">
                <h1 class = "text">{{grid.title}}</h1>
            </div>
            
            <div class = "imageContainer">
                <g-button
                    class='image'
                    iconSize='79.166'
                    icon='{{grid.src}}'
                ></g-button>
            </div>                    
    </div>
    <hr class = "line">
</div>

