.size{
    width: 13vw;
    height: 2.31vw;
    display: flex;
    align-items: center;
    box-shadow: 0.04vw 0.04vw 0.1vw grey;
    border-radius: 0.00vw 0.0vw 0.33vw 0.33vw;
    background-color: #373944;
    position: relative;
}
.size p{
  font-weight: medium;
  font-size: 1.15vw;
  color: white;
  text-shadow: 0.04vw 0.04vw 0.1vw grey;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}