<div class='main-container' (scroll)="onScroll($event)">

    <div class='messages'> <!-- Here somehow they will be dynamically created. -->
        <div class='chat-start'>

            <hr class='chat-start-hr'>
            <div class='chat-start-text-container'>
                <p class='chat-start-text'>China Guy started a call</p>
            </div>
    
        </div>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>

        <mobile-message
            photo='../../assets/profile_picture.png'
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
        ></mobile-message>

        <mobile-message
            name='China Guy'
            message='Random Shit about some random shit asdasdas asdaa we sda sd sd asd  sadasd a'
            time='15:32'
            alignment='right'
        ></mobile-message>


    </div>

    <div class='chat-bar-container'>
        <mobile-chat-bar
            #chatBar
            class='chat-bar'
        ></mobile-chat-bar>
    </div>


</div>