.black{
    background-color: #656565;
    height: 75px;
    width: 720px;
    float: left;  padding: 10px; 
}

.header{
    color: #ffffff;
    font-size: 30px;
    margin-left: 32px;
    margin-top: 18px;
}