.wrapper {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.active{
    height:100%;
    width: 17.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active img{
    height:100%;
    width: 56%;
}

.text{
    height:100%;
    width: 72.6%;
    position: relative;
}

.text p{
    color: #3C3C3C;
    font-size: 3.5vw;
    position: absolute;
    top: 10%;                  
    transform: translate(0, -50%);
}

.icons_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 10%;
}

.icons_div img{
    height: 46%;
    width: 19.5%;
}