<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'Chat'
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body">     
        <app-chat-list
             *ngFor= 'let chat_item of chat'
            [header] = 'chat_item.header'
            [chat] = 'chat_item.chat_list'
        ></app-chat-list>
    </div>

    <mobile-footer class='footer' activeTab='chat'></mobile-footer>

    <account-menu
        name='Stylianos Stamatakis'
    ></account-menu>

</div>