<div class='button-container'>
    <img id='circle-container' src='../../assets/controller_more_button.png' alt=''>

    <div>
        <g-button
            routerLink='/explorer-mobile-team-call-setting'
            id='call-settings' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/call_settings_icon.png'
            iconSize='19'
            name='Call Settings'
            fontColor='white'
            fontSize='3.5'
        ></g-button>
        <g-button
            routerLink='/explorer-mobile-team-tvgrid'
            id='tv-grid' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/grid_icon.png'
            iconSize='19'
            name='Share a Screen'
            fontColor='white'
            fontSize='3.5'
        ></g-button>
        <g-button
            id='record-screen' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/record_screen_icon.png'
            iconSize='19'
            name='Record a Screen'
            fontColor='white'
            fontSize='3.5'
        ></g-button>
        <g-button
            id='share-screen' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/share_screen_icon.png'
            iconSize='19'
            name='Share a Screen'
            fontColor='white'
            fontSize='3.5'
        ></g-button>
        <g-button
            routerLink='/explorer-mobile-team-files'
            id='team-files' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/team_files_icon.png'
            iconSize='19'
            name='Team Files'
            fontColor='white'
            fontSize='3.5'
        ></g-button>
        <g-button
            routerLink='/explorer-mobile-team-participants'
            id='participants' class='button'
            background='../../assets/call_mode/call_mode_more_icon_background.png'
            icon='../../assets/call_mode/participants_icon.png'
            iconSize='19'
            name='Participants'
            fontColor='white'
            fontSize='3.5'
        ></g-button> 
    </div>
    
    <g-button
        id='x-button' 
        class='button'
        background='../../assets/hangup_icon_background.png'
        icon='../../assets/x_icon.png'
        iconSize='19'
        (click)='disableMore()'
    ></g-button>
</div>