.main-container{   
    width: 100%;
    height: auto;

    position: relative;
}

.text-container{
    width: 100%;

    position: absolute;;
    top: 76.75%;
    height: 20%;
    font-family: Red Hat Display;
    display: flex;
    justify-content: center;;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.text-container p{
    color: white;
    font-size: 5vw; 
    margin: 0px;
}

.more-dots{
    position: absolute;
    top:2%;
    left: 80%;
}