<div class = "window">
    
    <div class = "participantsContainer" >
        <table-participants></table-participants>
        <table-footer title = "Participants"></table-footer>
    </div>
    <div style=" order:1; margin-right: 77px;">
        <div class = "navigationButtons">
            <navigation-buttons></navigation-buttons>
        </div>
    </div>
    <div style=" order:3; margin-right: 77px;">
        <div class = "optionsButtons">
            <app-options-buttons></app-options-buttons>
        </div>
    </div>
    
    
</div>

