<div>
    <div class = ComponentContainer>
        <label class="CheckboxContainer">
            <div class = "TextAndCheckContainer">
                <h1 class = "text">{{title}}</h1>
                <input type="checkbox"  name="radio">
                <span class="checkmark"></span>
            </div>
            
            <div class = "imageContainer">
                <img class = Image src = {{src}} width="570" height="406">
              </div>
              
          </label>     
    </div>
    <hr class = "line">
</div>

