.imgTextContainer {
  display: flex;
  align-items: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.primaryText {
  margin-left: 1.52vw;
  font-size: 4.17vw;
  line-height: normal;
}

#secondLineSecondary {
  font-size: 3.194vw;
  margin-top: 1.52vw;
}

#secondLinePrimary {
  line-height: normal;
  font-size: 4.17vw;
}
