<!-- for messages that have primary and secondary text -->
<div class = "imgTextContainer">
    <div style = "max-width: 4.44vw; max-height: 4.44vw;">   
        <img class = "img" src = {{msg.src}}>
    </div>
    <div class = "primaryText">
        <strong>{{msg.personName}} </strong>{{msg.firstLine}}
    </div>     
</div>
<div *ngIf = "msg.hasSecondaryText === true" id = "secondLineSecondary">
    {{msg.secondLine}}
</div>
<div *ngIf = "msg.hasSecondaryText === false"  id = "secondLinePrimary">
    {{msg.secondLine}}
</div>


