.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.label{
  width: 90%;
  text-align: left;

  color:rgb(230, 230, 230);
  font-size: 4.5vw;
}

.options{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown{
  margin: 0px;
  padding: 0px;
  height: 12.63vw;
  width: 58.33vw;
  border-radius: 3.8vw;
}

