<div class='main-container'>
    <div class='user' id='user0' (click)='setUser("agantos")'
        [routerLink] = "['/explorer-mobile-teams']"
    >
        <p>agantos</p>
    </div>

    <div class='user' id='user1' (click)='setUser("Stylianos Stamatakis")'
        [routerLink] = "['/explorer-mobile-teams']"
    >
        <p>Stylianos Stamatakis</p>
    </div>

    <div class='user' id='user2' (click)='setUser("ZackPer")'
        [routerLink] = "['/explorer-mobile-teams']"
    >
        <p>ZackPer</p>
    </div>
</div>