<div id='footer' class='flex-container' style='display: flex;'>
    <g-button class='footer-button'
        background='../assets/footer_icon_background.png'
        icon='../assets/activity_icon.png'
        name='Activity'
        fontColor='white'
        fontSize='30'
        backgroundSize='110'
        iconSize='80'
    ></g-button>
    <g-button  class='footer-button'
        background='../assets/footer_icon_background.png'
        icon='../assets/team_icon.png'
        name='Teams'
        fontColor='white'
        fontSize='30'
        backgroundSize='110'
        iconSize='80'
    ></g-button>
    <g-button  class='footer-button'
        background='../assets/footer_icon_background.png'
        icon='../assets/chat_icon.png'
        name='Chat'
        fontColor='white'
        fontSize='30'
        backgroundSize='110'
        iconSize='80'
    ></g-button>
    <g-button  class='footer-button'
        background='../assets/footer_icon_background.png'
        icon='../assets/more_icon.png'
        name='More'
        fontColor='white'
        fontSize='30'
        backgroundSize='110'
        iconSize='80'
    ></g-button>
</div>