<div id='footer' class='flex-container' style='display: flex;'>
    <g-button 
        background='../assets/footer-icon-background.png'
        icon='../assets/ring-bell.png'
        name='Activity'
        nameColor='white'
    ></g-button>
    <g-button 
        background='../assets/footer-icon-background.png'
        icon='../assets/ChatIcon.png'
        name='Teams'
        nameColor='white'
    ></g-button>
    <g-button 
        background='../assets/footer-icon-background.png'
        icon='../assets/TeamsIcon.png'
        name='Chat'
        nameColor='white'
    ></g-button>
    <g-button 
        background='../assets/footer-icon-background.png'
        icon='../assets/MoreIcon.png'
        name='More'
        nameColor='white'
    ></g-button>
</div>