#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #468189;
}

.footer-button{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}