
.container-1 {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: row;
  background-color: #468189;
  justify-content: center;
  align-items: center;
}


.box-1 {
  flex: 1;
  order: 1;
}

.box-2 {
  height: auto;
  flex: 3;
  order: 2;
}

.box-3 {
  height: 100%;
  flex: 1;
  order: 3;
}

.box-4 {
  flex: 1;
  order: 4;
}

.box-5 {
  flex: 1;
  order: 5;
}

.image {
  width: 100%;
  height: auto;
}

#pageName {
  font-weight: 500;
  padding-left: 8%;
  color: white;
  font-size: 6.66vw;
  margin: 0px;
  /* padding-top: 4.027vw; */
}
