.fixedContainer {
  position: fixed;
  top: 0px;
}

@media (min-width: 400px) {
  .container-1 {
    display: flex;
    background-color: #468189;
    align-items: center;
    min-height: 12.638vw;
  }
}

.container-1 div {
  height: 100%;
}

.box-1 {
  flex: 1;
  order: 1;
  background-color: #468189;
}

.box-2 {
  flex: 3;
  order: 2;
  background-color: #468189;
}

.box-3 {
  flex: 1;
  order: 3;
  background-color: #468189;
}

.box-4 {
  flex: 1;
  order: 4;
  background-color: #468189;
}

.box-5 {
  flex: 1;
  order: 5;
  background-color: #468189;
}

#Image {
  max-height: 7.6388vw;
  width: 100%;
}

#pageName {
  padding-left: 12%;
  color: white;
  font-size: 7vw;
  margin-bottom: 0px;
  /* padding-top: 4.027vw; */
}
