<div class='main-container'>
    
    <g-button
        class='more button'
        icon='../../assets/4balls_icon.png'
        iconSize='10'
    ></g-button>
    <g-button
        class='gallery button'
        icon='../../assets/gallery_icon.png'
        iconSize='10'
    ></g-button>
    <g-button
        class='mic button'
        icon='../../assets/mic_white_icon.png'
        iconSize='10'
    ></g-button>

    <input #input class="form-control form-control-lg form" type="text" placeholder="Write here...">
    
    <g-button
        *ngIf="sendIconActive == false"
        class='emoji button'
        icon='../../assets/emoji_icon.png'
        iconSize='10'
    ></g-button>

    <g-button
        *ngIf="sendIconActive == true"
        class='emoji button'
        icon='../../assets/send_icon.png'
        iconSize='10'
        (click)='sendInput()'
    ></g-button>


</div>