#main-container{

}

#menu-buttons{
    align-items: center;
    justify-content: center;
}

#carousel-container{
    width: 100%;
    position: relative;
    background-color: darkred;
    overflow: hidden;
}

#carousel{
    width: 100%;
    position: absolute;
    background-color: darkblue;
}