<div id='main-container'>
    <div id='menu-buttons' class='row'>
        <g-button
            icon='../../assets/table/table_left_arrow.png'
        ></g-button>

        <g-button
            icon='../../assets/table/manage_sound.png'
            iconSize='160'
        ></g-button>
        <g-button
            icon='../../assets/table/files.png'
            iconSize='160'
        ></g-button>
        <g-button
            icon='../../assets/table/participants.png'
            iconSize='160'
        ></g-button>

        <g-button
            icon='../../assets/table/table_right_arrow.png'
        ></g-button>
    </div>
</div>