<div #aname class = "containerAll" >{{this.setMaxSize(aname.offsetWidth, 8.7234220532)}}
    <div style="width: 86%; display: flex;flex-direction: row;align-items: center;">
        <img class = imgProfile src = {{srcProfile}} width = "26px" height = "26px">
        <h1 class = name>{{this.format(name)}}</h1>
    </div>

    <div style="width: 7%;margin-right: 2vw;">
        <img class = imgVideo *ngIf = "camera === false" src = "../../../../assets/camera-off.png" >
        <img class = imgVideo *ngIf = "camera === true" src = "../../../../assets/camera-on.png">
    </div>

    <div style="width: 7%;margin-right: 0.25vw;">
        <img class = imgMic *ngIf = "mute === false" src = "../../../../assets/mic_wall.png">
        <img class = imgMic *ngIf = "mute === true" src = "../../../../assets/mic_wall.png">
    </div>
</div>
