<div class="phone">
    <header class='header' style="background-color: #468189; white-space: nowrap;"
        name= 'Teams Calendar'
        src1 = '\assets\tv-grid\back-header.png'
        src3 = '\assets\fakos.png'
        (event1) = 'backClicked()'
    ></header>
    
    <calendar-mobile></calendar-mobile>

    <div class="body">   
        <div class="align">
            <app-days-calendar-list
            *ngFor="let device of events_array"
            [date] = "device.date"
            [month] = "device.month"
            [day] = "device.day"
            [team_name] = 'Team_name'
            ></app-days-calendar-list>
        </div>  
        <ami-fullstack-add-button></ami-fullstack-add-button>
        <ami-fullstack-return-oncall-button></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer'></mobile-footer>

</div>