.allContainer {
  display: flex;
  flex-direction: row;
  min-width: 470px;
  min-height: 344px;
}

.spawn-menu {
  width: 15vw;
  height: 15vw;
  background-color: gray;
}

.main-container {
  width: 430px;
  height: 285px;
  position: relative;
}

.menu-container {
  position: absolute;
  top: 0px;
  left: 6px;
}

.background {
  top: 0px;
  left: 0px;
}

#menu-buttons {
  display: flex;
  align-items: center;
}

#shortcuts {
  display: flex;
}

#menu-font {
  font-weight: 550;
  margin: 0;
  font-size: 25px;
}

#hr-menu {
  width: 100%;
  margin: 0%;
  margin-bottom: 0.5vw;
  border: 2px solid grey;
  border-radius: 4px;
}

#shortcut-font {
  margin: 0%;
  font-size: 20px;
  font-weight: 550;
}

#hr-shortcuts {
  width: 100%;
  margin: 0%;
  margin-bottom: 0.5vw;
  border: 1px solid grey;
  border-radius: 3px;
}

#x-button {
  bottom: -90px;
  position: absolute;
  left: 173px;
}

.menu-button {
  margin-left: 5px;
  margin-right: 5px;
}

.tv-grid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.carouselContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
