.main-container{
    width: 720px;
    height: 510px;
    position: relative;
}

.container{
    width: 720px;
    height: auto;;
    position: absolute;
    top: 0%;
    left: 2%;
    margin: auto;
}

#menu-buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

#shortcuts{
    padding-left: 5%;
}

#menu-font{
    font-size: 3.5em;
}

#hr-menu{
    border: 4px solid grey;
    border-radius: 4px;
}

#shortcut-font{
    font-size: 2em;
}

#hr-shortcuts{
    border: 3px solid grey;
    border-radius: 3px;
}

#x-button{
    position: absolute;
    top: 112%;
    left: 44.7%;
}