<div class="size">
    <div class="header">
        <div class="date">
            <div class="numb">
                11
            </div>
            <div class="month">
                Oct
            </div>
        </div>
        
        <div class="day">
            Today
        </div>
    </div>

    <app-calendar-event
    *ngFor = "let event of events_array"
    [event] = 'event.event'
    [time] = 'event.time'
    ></app-calendar-event>
    
    <hr style="width: 100%;border: 1px solid #000000; margin: 0;">
</div>