<div #aname class = "containerAll" >{{this.setMaxSize(aname.offsetWidth, 2.283333333333333)}}
    <h1 class = name>{{this.format(name)}}</h1>
        <g-button  class='chat'
            icon= "../../../assets/participants-mobile/chat-gray.png"
            iconSize='7.083'
        ></g-button>

        <g-button 
            class='speaker'
            icon= "../../../assets/participants-mobile/sound-gray.png"
            iconSize='6.805'
        ></g-button>

        <g-button 
            *ngIf = "muted === false" 
            (click) = "muted = true"
            class='microphone'
            icon= "../../../assets/participants-mobile/microphone-gray.png"
            iconSize='5'
        ></g-button>

        <g-button 
            class='microphone'
            *ngIf = "muted === true" 
            (click) = "muted = false"  
            icon= "../../../assets/participants-mobile/microphone-muted.png"
            iconSize='5'
        ></g-button>

    
</div>
