<div class='main-container'>

    <app-tv-incoming-call
        *ngIf="grid == -1"
    ></app-tv-incoming-call>

    <app-screenshare1main
        *ngIf="grid == 10"
    >
    </app-screenshare1main>

    <app-tv1main
        *ngIf="grid == 0"
    >
    </app-tv1main>

    <app-tv3main
        *ngIf="grid == 2"
    >
    </app-tv3main>

    <app-tv3x3main
        *ngIf="grid == 4"
    ></app-tv3x3main>

    <app-tv-chat-on
        *ngIf="grid == 3"
    ></app-tv-chat-on>

    <div
        class='hoverDetector'
        (mouseenter)='isMouseHovering = true'
        (mouseleave)='isMouseHovering = false'
    ></div>

    <div class='tv-buttons' 
        [ngClass]="{
            'buttons-show' : isMouseHovering == true,
            'buttons-hide' : isMouseHovering == false
        }"
    >
        <g-button
            background='../../../../assets/tv-buttons/tv_button_background.png'
            icon='../../../../assets/tv-buttons/tv_record_icon.png'
            iconSize='3'
        ></g-button>
        <g-button
            background='../../../../assets/tv-buttons/tv_button_background.png'
            icon='../../../../assets/tv-buttons/tv_screenshare_icon.png'
            iconSize='3'
        ></g-button>
        <g-button
            background='../../../../assets/tv-buttons/tv_button_background.png'
            icon='../../../../assets/tv-buttons/tv_mute_icon.png'
            iconSize='2'
        ></g-button>
    </div>

</div>