<div
    [ngClass]="{
        'main-container' : message.alignment == 'left' || message.alignment == '',
        'main-container-right' : message.alignment == 'right'
    }"
    (click)='openExtras($event)'
>
    <div class='sender-container'
        [ngClass]="{
            'sender-container' : message.alignment == 'left' || message.alignment == '',
            'sender-container-right' : message.alignment == 'right'
        }"
    >
        <img class='sender-profile' src='{{findPhoto(message.photo)}}' alt=''>
        <p class='sender-name'>{{message.name}}</p>
    </div>
    <div class='message-container'>
        <p class='message-text'>{{message.message}}</p>
        <p class='message-time'>{{message.time}}</p>
    </div>
    <div 
        class='emoji-area'
        [ngClass]="{'emoji-area-right' : message.alignment == 'right' }"
    >
        <emoji-counter 
            *ngFor= 'let emoji of message.emojis'
            class='emoji'
            [amount]='emoji.amount'
            [emojiSrc]='findEmoji(findEmoji(emoji.emojiSrc))'
        ></emoji-counter>
    </div>

</div>  

<!-- Extras  for when message is clicked -->
<message-extra
    *ngIf='extrasOpened'
    class='message-extra'
    (closeEmitter)='closeExtras()'
    (emojiEmitter)="reactTo($event.emojiSrc)"
></message-extra>
