<div class='main-container'>
    <!-- (photo + timer) + Call name -->
    <mobile-controller-call-info
        callName={{callName}}    
    ></mobile-controller-call-info>

    <div class='button-container'>

        <!-- Bones -->
        <img class='bone' id='bone1' src='../../assets/call_mode/controller_bone1.png' alt=''>
        <img class='bone' id='bone2' src='../../assets/call_mode/controller_bone2.png' alt=''>
        <img class='bone' id='bone3' src='../../assets/call_mode/controller_bone3.png' alt=''>

        <div *ngIf='!moreOpen'>
            <g-button 
                id='mic-button' 
                class='controller-button'
                #mic
                background='../../assets/call_mode_icon_background.png'
                icon='../../assets/mic_icon.png'
                backgroundSize='24'
                iconSize='19'
            ></g-button>
            <g-button
                id='chat-button' 
                class='controller-button'
                routerLink='/explorer-mobile-team-chat' 
                #chat
                background='../../assets/call_mode_icon_background.png'
                icon='../../assets/chat2_icon.png'
                backgroundSize='24'
                iconSize='19'
            ></g-button>
            <g-button 
                id='pin-button' 
                class='controller-button'
                #pin
                background='../../assets/call_mode_icon_background.png'
                icon='../../assets/pin_icon.png'
                backgroundSize='24'
                iconSize='19'
            ></g-button>
            <g-button 
                id='hangup-button' 
                class='controller-button'
                #hangup
                background='../../assets/hangup_icon_background.png'
                icon='../../assets/hangup_icon.png'
                backgroundSize='24'
                iconSize='19'
            ></g-button>
            <g-button 
                (click)='enableMore()'
                id='hamburger-button' 
                class='controller-button'
                #hamburger
                background='../../assets/call_mode_icon_background.png'
                icon='../../assets/hamburger_icon.png'
                backgroundSize='24'
                iconSize='19'
            ></g-button>
            <g-button 
                id='back-button' 
                class='controller-button'
                #back
                background='../../assets/call_mode_back_icon_background.png'
                icon='../../assets/back_icon.png'
                backgroundSize='24'
                iconSize='19'
                routerLink='/explorer-mobile-teams'
            ></g-button>
        </div>
    </div>

    <mobile-controller-more 
        (closeEmitter)="disableMore()"
        *ngIf='moreOpen'
        class='more-hamburger'>
    </mobile-controller-more>

</div>