.activitiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#image {
  height: 71.111111111vw;
  width: 71.111111111vw;
  order: 1;
  margin-top: 15.8333vw;
  margin-bottom: 16.6666vw;
}

.header {
  order: 2;
  font-weight: 430;
  font-size: 5vw;
  margin: 0;
}

.text {
  font-size: 4vw;
  font-weight: 400;
  order: 3;
}
