<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'SmartHome'
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body">     
        <app-teams-button
            class='body-item'
            *ngFor= 'let team of teams_array'
            [routerLink] = "['/explorer-mobile-onlinedevices', team.groupName]"
            [icon] = 'team.iconSrc'
            [groupName] = 'team.groupName'
        ></app-teams-button>
        <ami-fullstack-add-button></ami-fullstack-add-button>
        <ami-fullstack-return-oncall-button></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer' activeTab='more'></mobile-footer>

    <account-menu
        name='Stylianos Stamatakis'
    ></account-menu>

</div>