.slidecontainer {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 395px;
}

.slider-align{
    width: 76%;
    height: 100%;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 37.5%;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%) ;  
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: #4E5160;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4E5160;
    cursor: pointer;
}


.icons{
    height: 97%;
    width: 6%;
    display:block;
    margin:auto;
}

div.container4 {
    width: 18%;
    height: 100%;
    position: relative; 
}

div.container4 p {
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
