<div class='main-container'>

    <!-- <mobile-team-more></mobile-team-more> -->

    <!-- <router-outlet></router-outlet> -->
    
    <!-- <more-bar></more-bar> -->
    
    <mobile-controller
        callName='AMI Smart Dev Team'
    ></mobile-controller>

    <!-- <participants></participants> -->
    <!-- <contact-section-list></contact-section-list> -->

    <!-- <app-table-menu></app-table-menu> -->

    <!-- <message-extra></message-extra> -->

    <!-- <account-menu name='Stylianos Stamatakis'
    ></account-menu> -->

    <!-- <mobile-footer
        style='position: absolute; bottom: 0px'
    ></mobile-footer> -->
    
    <!-- <conversation-preview
    ></conversation-preview> -->

    <!-- <mobile-chat></mobile-chat> -->

</div>