.optionText {
  font-size: 4.16vw;
  padding-top: 5.55vw;
  padding-bottom: 5.55vw;
  padding-left: 3vw;
  color: black;
  background-color: #f9f9f9;
}

.optionText:focus {
  color: white;
  background-color: #373944;
}
