.buttonsContainer {
display: flex;
flex-direction: column;
align-items: center;
}

.buttonImg {
margin-right: 1.5vw;
margin-top: 10px;
}

.participants {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 433px;
    height: 604px;
  }