<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'Calendar'
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>
    
    <calendar-mobile></calendar-mobile>

    <div class="body">   
        <div class="align">
            <app-days-calendar-list
            *ngFor="let device of events_array"
            [date] = "device.date"
            [month] = "device.month"
            [day] = "device.day"
            [team_name] = '0'
            ></app-days-calendar-list>
        </div>  
        <ami-fullstack-add-button></ami-fullstack-add-button>
        <ami-fullstack-return-oncall-button></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer' activeTab='more'></mobile-footer>

    <account-menu
        name='Stylianos Stamatakis'
    ></account-menu>

</div>