<div class = "size">
    <div class="pic">
        <img style="width: 100%;height: auto;" src="{{icon}}">
    </div>

    <div class = "info">

        <div class = "name-msg-more">
                <div class = "name-msg">
                    <div class ="name">
                        {{name}}
                    </div>
                    <div class = "msg">
                        {{last_edit}}
                    </div>
                </div>
        </div>

        <hr style="width: 95%;height:3%;text-align:left;margin-left:0;">
    </div>
</div>
