<div class ="tv">
    <app-tv-speaker
    image = '\assets\tv-speaker\user.png'
    mic = '\assets\slider\mic.png'
    speaker = 'Stelios stamatakis'
    width = '65.625vw'
    height = '1070px'
    paddingleft = '2.4vw'
    fontsize = '2.8vw'
    margin = 'auto'
    ></app-tv-speaker>
    
    <div class="cameras">
        <app-tv-speaker
        *ngFor="let speaker of speakers_array"
        [image] = 'speaker.image'
        [mic] = 'speaker.mic'
        [speaker] = 'speaker.speaker'
        width = '33vw'
        height = '27.5vw'
        paddingleft = ' 0.83vw'
        fontsize = '1.5vw'
        margin = 'auto'
        ></app-tv-speaker>
    </div>

    
</div>
