.black{
    background-color: #656565;
    height: 10.5vw;
    width: 100%;
    display: flex;
    margin-bottom: 2vw;
    position: relative;
}

.title{
    color: #ffffff;
    font-size: 4.15vw;
    margin-left: 4.45vw;
    position: absolute;              
    top: 50%;                         
    transform: translate(0, -50%);
}


.body{
    display: flex;
    flex-direction: column;
}
