<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= {{Team_name}}
        src1 = '\assets\tv-grid\back-header.png'
        src3 = '\assets\fakos.png'
        (event1) = 'backClicked()'
    ></header>

    <div class="body">     
        <div class = "black">
            <p class="title"> Online Devices:</p>
        </div>

        <app-online-devices
        *ngFor="let device of devices_array"
        [icon] = 'device.icon'
        [device_name] = 'device.name'
        ></app-online-devices>
        <ami-fullstack-return-oncall-button [up] = 'false'></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer' activeTab='more'></mobile-footer>

</div>