<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'NameOfSmartHome'
        src1 = '\assets\test.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body">     
        <div class = "black">
            <p class="title"> Online Devices:</p>
        </div>

        <app-online-devices
        *ngFor="let device of devices_array"
        [icon] = 'device.icon'
        [device_name] = 'device.name'
        ></app-online-devices>
    </div>

    <mobile-footer class='navbar'></mobile-footer>

</div>