.body-item{
    margin-left: 4.5vw;
    margin-top: 1.75vw;
    margin-bottom: 1.75vw;
 }
 
 
 .body{
     display: flex;
     flex-wrap: wrap;
     align-content: flex-start;
 }
 
 .header{
     margin-bottom: 2vw;
 }