.main-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #373944;

    overflow: hidden;;
}

.info-container{
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: left;
    align-items: flex-start;
    text-align: left;
}

.speaker-photo{
    width: 100%;
    padding: 2%;
    flex: 1;
}

.call-name{
    flex: 2;

    padding: 2%;
    padding-top: 8%;

    font-family: 'Red Hat Display';
    line-height: 8vw;
    font-size: 6vw;
    color: rgb(235, 235, 235);
}

.more-hamburger{
    position: absolute;
    top: 25%;
}

.bone{
    position: absolute;
    width: 30%;
}

#bone1{
    top: 70.8%;
    left: 4%;
}

#bone2{
    top: 48%;
    left: 16%;
}

#bone3{
    top: 29%;
    left: 47%;
}

.controller-button{
    position: absolute;
    width:23%;
}

#back-button{
    top: 83%;
    left: 72%;
}

#hangup-button{
    top: 83%;
    left: 6%
}

#mic-button{
    top: 61%;
    left: 10%;
}

#chat-button{
    top: 38.5%;
    lefT:29%;
}

#pin-button{
    top: 23%;
    left: 72%;
}

#hamburger-button{
    top: 56%;
    left: 72%;
}