<div class='col main-container'>
    <!-- (photo + timer) + Call name -->
    <div class='row info-container'>
        <g-button id='speaker-photo'
            background='../../assets/call_mode/green_indicator.png'
            icon='../../assets/call_mode/speaker_photo.png'
            name='01:12:13'
            fontColor='rgb(235, 235, 235)'
            fontSize='30'
        ></g-button>
        <div id='call-name'>
            {{callName}}
        </div>
    </div>
    <div class='button-container'>
        <!-- Bones -->
        <img class='bone' id='bone1' src='../../assets/call_mode/controller_bone1.png' alt=''>
        <img class='bone' id='bone2' src='../../assets/call_mode/controller_bone2.png' alt=''>
        <img class='bone' id='bone3' src='../../assets/call_mode/controller_bone3.png' alt=''>

        <!-- Buttons -->
        <g-button id='mic-button' class='controller-button'
            background='../../assets/call_mode_icon_background.png'
            icon='../../assets/mic_icon.png'
        ></g-button>
        <g-button id='chat-button' class='controller-button'
            background='../../assets/call_mode_icon_background.png'
            icon='../../assets/chat2_icon.png'
        ></g-button>
        <g-button id='pin-button' class='controller-button'
            background='../../assets/call_mode_icon_background.png'
            icon='../../assets/pin_icon.png'
        ></g-button>
        <g-button id='hamburger-button' class='controller-button'
            background='../../assets/call_mode_icon_background.png'
            icon='../../assets/hamburger_icon.png'
        ></g-button>
        <g-button id='hangup-button' class='controller-button'
            background='../../assets/hangup_icon_background.png'
            icon='../../assets/hangup_icon.png'
        ></g-button>
        <g-button id='back-button' class='controller-button'
            background='../../assets/call_mode_back_icon_background.png'
            icon='../../assets/back_icon.png'
        ></g-button>
    </div>

</div>