<div class='phone'>
    <header
        class='header'
        name='Current Chat Call'
        src1 = '\assets\tv-grid\back-header.png'
        (event1) = 'backClicked()'
    ></header>
    <div class="body">
        <div class='main-container'>

            <div class='messages'> <!-- Here somehow they will be dynamically created. -->

                <!-- This is the HR bar -->
                <div class='chat-start'>
                    <hr class='chat-start-hr'>
                    <div class='chat-start-text-container'>
                        <p class='chat-start-text'>{{messages[0].name}} started a call</p>
                    </div>
                </div>

                <mobile-message
                    *ngFor='let message of messages'
                        [message]='message'
                    (click)='openExtras($event)'
                ></mobile-message>

                <!-- Extras  for when message is clicked -->
                <message-extra
                    *ngIf='extrasOpened'
                    class='message-extra'
                    (closeEmitter)='closeExtras()'
                ></message-extra>

            </div>

            <div class='chat-bar-container'>
                <mobile-chat-bar
                    #chatBar
                    class='chat-bar'
                ></mobile-chat-bar>
            </div>
        </div>
    </div>
</div>