<dimmer (click)='disableMore()'></dimmer>

<div class='main-container'>
    <div id='arrow-container'>
        <g-button
            (click)='disableMore()'
            icon='../../assets/down_arrow_icon.png'
            iconSize='15'
        ></g-button>
    </div>
    <div class='buttons-container'>
        <g-button
            class='button'
            icon='../../assets/files_icon.png'
            routerLink='/explorer-mobile-files'
            iconSize='18'
            name='Files'
            fontSize='4.5'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/smart_home_icon.png'
            routerLink='/explorer-mobile-smarthome'
            iconSize='18'
            name='Smart Home'
            fontSize='4.5'
        ></g-button>
        <g-button
            class='button'
            routerLink='/explorer-mobile-contacts'
            icon='../../assets/contants_icon.png'
            iconSize='18'
            name='Contacts'
            fontSize='4.5'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/calendar_icon.png'
            routerLink='/explorer-mobile-calendar'
            iconSize='18'
            name='Calendar'
            fontSize='4.5'
        ></g-button>
    </div>
</div>
