<div class='main-container' style='width: 100px'>
    <div id='arrow-container'>
        <g-button
            icon='../../assets/down_arrow_icon.png'
            iconSize='60'
        ></g-button>
    </div>
    <div id='more-bar' class='buttons-container'>
        <g-button class=''
            icon='../../assets/files_icon.png'
            iconSize='60'
            name='Files'
            fontSize='3'
        ></g-button>
        <g-button
            icon='../../assets/smart_home_icon.png'
            iconSize='60'
            name='Files'
            fontSize='3'
        ></g-button>
        <g-button
            icon='../../assets/contants_icon.png'
            iconSize='60'
            name='Files'
            fontSize='3'
        ></g-button>
        <g-button
            icon='../../assets/calendar_icon.png'
            iconSize='60'
            name='Files'
            fontSize='3'
        ></g-button>
    </div>
</div>
