<div class="phone">
    <header class='header'
        name= 'Activity'
        style = "background-color: #468189 ;"
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body" id = "emptyActivityBody">     
        <activity-empty></activity-empty>
        <ami-fullstack-return-oncall-button [up] = 'false'></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer'></mobile-footer>

    <account-menu
        name='Stylianos Stamatakis'
    ></account-menu>

</div>
