<div class="phone">
    <header class='header' style="background-color: #373944;"
        name= 'Call Settings'
        src1 = '\assets\tv-grid\back-header.png'
        src3 = '\assets\fakos.png'
        (event1) = 'backClicked()'
    ></header>

    <div class="body">   
        <div class="aling">
            <app-generic-header-item></app-generic-header-item>

            <app-audio-settings-camera
                image = '\assets\sofa.png'
            ></app-audio-settings-camera>
    
            <app-participants-settings>
    
            </app-participants-settings>
        </div>  
    </div>
</div>