<div class="phone">
    <header class='header'  style="background-color: #468189;"
        name= 'Contacts'
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body" id = "contactsBody">     
        <contact-section-list
        ></contact-section-list>
        <ami-fullstack-add-button></ami-fullstack-add-button>
        <ami-fullstack-return-oncall-button></ami-fullstack-return-oncall-button>
    </div>

    <mobile-footer class='footer'></mobile-footer>

    <account-menu
        name='Stylianos Stamatakis'
    ></account-menu>        

</div>