<div class="container-1">
  <div class="box-1">
    <g-button
      class='image'
      iconSize='8'
      icon='{{src1}}'
      (click)='emitEvent(1)'
    ></g-button>
  </div>
  <div class="box-2">
    <p id = pageName>{{name}}</p>
  </div>
  <div class="box-3"></div>
  <div class="box-4">
      <g-button
        class='image'
        iconSize='8'
        icon='{{src2}}'
        (click)='emitEvent(2)'
      ></g-button>
  </div>
  <div class="box-5">
      <g-button
        class='image'
        iconSize='8'
        icon='{{src3}}'
        (click)='emitEvent(3)'
      ></g-button>
  </div>
</div>