<div class='main-container'>
    <g-button class='footer-button'
        #activity
        routerLink='/explorer-mobile-activities'
        [background]='activityTab.backgroundRef'
        [icon]='activityTab.iconRef'
        name='Activity'
        fontColor='white'
        [fontWeight]='activityTab.fontWeight'
        fontSize='4.166'
        backgroundSize='15.52'
        iconSize='13.5'
    ></g-button>
    <g-button  class='footer-button'
        id='teams'
        routerLink='/explorer-mobile-teams'
        [background]='teamsTab.backgroundRef'
        [icon]='teamsTab.iconRef'
        name='Teams'
        fontColor='white'
        [fontWeight]='teamsTab.fontWeight'
        fontSize='4.166'
        backgroundSize='15.52'
        iconSize='13.5'
    ></g-button>
    <g-button  class='footer-button'
        #chat
        routerLink='/explorer-mobile-chat'
        [background]='chatTab.backgroundRef'
        [icon]='chatTab.iconRef'
        name='Chat'
        fontColor='white'
        [fontWeight]='chatTab.fontWeight'
        fontSize='4.166'
        backgroundSize='15.52'
        iconSize='13.5'
    ></g-button>
    <g-button  class='footer-button'
        (click)='enableMore()'
        #more
        [background]='moreTab.backgroundRef'
        [icon]='moreTab.iconRef'
        name='More'
        fontColor='white'
        [fontWeight]='moreTab.fontWeight'
        fontSize='4.166'
        backgroundSize='15.52'
        iconSize='13.5'
    ></g-button>

    <more-bar
        *ngIf='morePressed'
        (closeEvent)="this.disableMore()"
        class='more-bar'>
    </more-bar>
</div>