<div class="tv">
    <div class="cameras">
        <app-tv-speaker
            *ngFor="let speaker of participants | slice:0:4"
            [image] = 'speaker.src2'
            [mic] = 'speaker.isMuted'
            [speaker] = 'speaker.name'
            [volume]= 'speaker.volume'
            width = '32.7vw'
            height = '27.60vw'
            paddingleft = '1vw'
            fontsize = '1.6vw'
            margin = '0.36vw'
            top = '40%'
        ></app-tv-speaker>
    </div>
    <tv-chat
        class='chat'
        teamName='YeetFleet'
        conversationID='0'
    ></tv-chat>

</div>