@keyframes dim{
    from{
        background-color: rgba(0, 0, 0, 0);
    }
    to{
        background-color: rgba(0, 0, 0, 0.424);
    }
}

.dimmer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.424);

    animation-name: dim;
    animation-duration: 0.5s;
}