<div class = "window">
    <div 
        class = "participantsContainer " 
        style = "overflow-y: scroll;"
    >
        <table-participants (click) = "participantSelected = true"></table-participants>
        <table-footer 
            title = "Participants"
            (click) = "navigationButtons = !navigationButtons; participantSelected = false;"
        ></table-footer>
    </div>
    <div 
        *ngIf = "navigationButtons === true" 
        style=" order:1; margin-right: 77px;">
        <div class = "navigationButtons">
            <navigation-buttons></navigation-buttons>
        </div>
    </div>
    <div 
        *ngIf = "participantSelected && navigationButtons" 
         style=" order:3; margin-right: 77px;" 
    >
        <div class = "optionsButtons">
            <app-options-buttons></app-options-buttons>
        </div>
    </div>
    
    
</div>

