.participantsContainer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: relative;
  order: 2;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: 21.261vw;
  height: 21.261vw;
}

.table-footer {
  position: absolute;
  bottom: 0;
  background-color: #373944;
  font-weight: 400;
  width: 100%;
  color: white;
  padding-left: 0.88vw;
  font-size: 24px;
  height: 41px;
}
