<div class="size" >
    <div class="header">
        <div class="date">
            <div class="numb">
                {{event_A.date}}
            </div>
            <div class="month">
                {{event_A.month}}
            </div>
        </div>
        
        <div class="day">
            {{event_A.day}}
        </div>
    </div>

    <app-calendar-event
    *ngFor = "let events of event_A.events_array"
    [event] = 'events.event'
    [time] = 'events.time'
    ></app-calendar-event>
    
    <hr style="width: 100%;border: 1px solid #000000; margin: 0;">
</div>