<div class='main-container'>

    <mobile-controller-call-info
        callname='Tade'
    ></mobile-controller-call-info>

    <div class='join-meeting-text'>
        <p>Join Meeting?</p>
        <p>Have your settings ready!</p>
    </div>

    <div class='camera settings'>
        <mobile-meeting-device-setting
            label='Camera:'
        ></mobile-meeting-device-setting>
    </div>
    
    <div class='input settings'>
        <mobile-meeting-device-setting
            label='Input Device:'
        ></mobile-meeting-device-setting>
    </div>
    
    <div class='output settings'>
        <mobile-meeting-device-setting
            label='Output Device:'
        ></mobile-meeting-device-setting>
    </div>
    
    <div class='decline-join'>

    </div>

</div>