<div class = "size">
    <div class="pic">
        <img src="{{image_avatar}}">
        <img id = "status" src="{{active}}">
    </div>

    <div class = "info">

                
        <div class = "name-date-msg">
            <div class = "name-date">
                <div class ="name">
                    {{name}}
                </div>
                
                <div class = "date">
                    {{date}}
                </div>
            </div>

            <div class = "msg">
                {{last_msg}}
            </div>
        </div>
        
        
        <hr style="width: 95%;height:3%;text-align:left;margin-left:0;">
    </div>
</div>



