.containerAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 22vw;
  max-height: 22vw;
}

.name {
  margin-top: 0px;
  order: 1;
  min-width: 45.138vw;
  font-weight: 400;
  font-size: 5.5555vw;
  margin-bottom: 0px;
  padding-left: 3.6111111vw;
  flex: 4;
  color: #656565;
}

.chat {
  width:50%;
  display: flex;
  justify-content: flex-start;
}

.microphone {
  width:50%;
  margin-right: 3vw;
}
