<div class ="tv">
    <app-tv-speaker
    [image] = 'participants[0].src2'
    [mic] = 'participants[0].isMuted'
    [speaker] = 'participants[0].name'
    [volume]= 'participants[0].volume'
    width = '65.625vw'
    height = '1070px'
    paddingleft = '2.4vw'
    fontsize = '2.8vw'
    margin = 'auto'
    ></app-tv-speaker>
    
    <div class="cameras">
        <app-tv-speaker
        *ngFor="let speaker of participants | slice:1:3"
        [image] = 'speaker.src2'
        [mic] = 'speaker.isMuted'
        [speaker] = 'speaker.name'
        [volume]= 'speaker.volume'
        width = '33vw'
        height = '27.5vw'
        paddingleft = ' 0.83vw'
        fontsize = '1.5vw'
        margin = 'auto'
        ></app-tv-speaker>
    </div>

    
</div>
