.size{
    width: 43.5vw;
    height: 12.3vw;
    position: relative;
}

.color{  
    position: absolute;      
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 13%;
    background-color: #373944;
}

div.color p{
    font-size: 0.8vw;
    color: white;
    margin: 0;
    font-weight: medium;
    position: absolute;
}

.background{
    box-shadow: 0.2vw  0.2vw 0.2vw rgba(0, 0, 0, 0.25), 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
    border-radius: 0.10vw;
    
    position: absolute;   
    z-index: -1;
    bottom: 0;
    background-color: #F3F3F3;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: row;
    padding-top: 0.8vw;
    padding-left: 1.3vw;
    padding-right: 00.77vw;
}

