
<div class = gridAndFooter>
    <div class = "gridContainer" max-width>
        <img class = "gridButton" src = "../../../assets/icons/table-tvGrid.png">
        <img class = "gridButton" src = "../../../assets/icons/table-tvGrid.png">
        <img class = "gridButton" src = "../../../assets/icons/table-tvGrid.png">
        <img class = "gridButton" src = "../../../assets/icons/table-tvGrid.png">
        <img class = "gridButton" src = "../../../assets/icons/table-tvGrid.png">
    </div>
    <table-footer title = "TV Grid"></table-footer>
</div>
