.align{
    display: flex;
    align-items: baseline;
    height: 50px;
    width: 670px;
    margin-bottom: 55px;
}

div.container3 {
    width: 41.5%;
    height: 80%;
    position: relative;
 }

 div.container3 p {
    font-size: 36px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); 
 }
 .wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
   }