.phone{
    width: 720px;
    height: 1560px;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 20.83vw;
    background-color: rgb(87, 2, 245);
    margin-bottom: 50px;
}

.body{
    width: 90%;
    height: 175vw;
    display: flex;
    flex-direction: column;
    margin: auto ;
}

.navbar{
    width: 100%;
    height: 20.83vw;
    background-color: rgb(1, 34, 34);

}