.phone{
    width: 720px;
    height: 1560px;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 370px;
    background-color: rgb(87, 2, 245);
}

.body{
    margin: auto;
    width: 660px;
    height: 1040px;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    height: 20.83vw;
    background-color: rgb(1, 34, 34);

}