.black{
    background-color: #656565;
    height: 10.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.title{
    color: #ffffff;
    font-size: 4.15vw;
    margin-left: 4.45vw;
    padding-bottom: 2%;
    
}


.body{
    display: flex;
    flex-direction: column;
}
