@keyframes slide{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0vw);
    }
}

.invisible-button{
    width: 8vw;
    height: 8vw;
    position: fixed;
    top: 3.18vw;
    left: 3.2vw
}

.main-container{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 80vw;
    height: 100vh;
    
    background-color: white;

    display: flex;
    flex-direction: column;

    animation-name: slide;
    animation-duration: 0.5s;
}

.profile-info{
    padding: 5%;
    display: flex;
    justify-content: center;
}

.profile-photo{
    width: 15%;
    height: auto;
}

.profile-name{
    font-weight: bold;
    font-size: 5vw;
    text-align: left;
    white-space: nowrap;
}

.option{
    width: 100%;;
    padding-left: 5%;
    font-size: 4.5vw;
    display: flex;
}

p{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 5%;
}

hr{
    width: 85%;
    border: 1.5px solid lightgrey;
    border-radius: 1px;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
}

