<div
    class='invisible-button'
    (click)='enabled = true;'
>
</div>

<div *ngIf="enabled">
    
    <dimmer
        (click)='enabled = false'
    ></dimmer>

    <div class='main-container'>
        <div class='profile-info'>
            <img class='profile-photo' src='../../assets/profile_picture.png' alt=''>
            <p class='profile-name' id='account-name'>
                {{name}}
            </p>
        </div>

        <hr>
        <div class='option'>
            <img src='../../assets/account_menu/available_icon.png' alt=''>
            <p>Account Settings</p>
        </div>
        <hr>
        <div class='option'>
            <img src='../../assets/account_menu/bell_icon.png' alt=''>
            <p>Notifications Mode</p>
        </div>
        <hr>
        <div class='option'>
            <img src='../../assets/account_menu/cog_icon.png' alt=''>
            <p>Settings</p>
        </div>
        <hr>
        <div class='option'>
            <img src='../../assets/account_menu/person_icon.png' alt=''>
            <p>Invite Friends</p>
        </div>
        <hr>
        <div class='option'>
            <img src='../../assets/account_menu/plus_icon.png' alt=''>
            <p>Add Account</p>
        </div>
        <hr>
    </div>

</div>