
<div class = "align" *ngIf="up === true">
    <g-button
        background = '../../assets/return_oncall.png'
        icon = '../../assets/return.png'
        iconSize='8'
        routerLink = '/explorer-mobile-team-controller'
    ></g-button>
</div>

<div class = "align2" *ngIf="up === false">
    <g-button
        background = '../../assets/return_oncall.png'
        icon = '../../assets/return.png'
        iconSize='8'
        routerLink = '/explorer-mobile-team-controller'
    ></g-button>
</div>

