<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'SmartHome'
        src1 = '\assets\Hamburger.png'
        src3 = '\assets\fakos.png'
    ></header>

    <div class="body">     
        <app-teams-button
            class='body-item'
            *ngFor= 'let team of teams_array'
            [routerLink] ='team.routing'
            [icon] = 'team.iconSrc'
            [groupName] = 'team.groupName'
        ></app-teams-button>
    </div>

    <mobile-footer class='navbar'></mobile-footer>

</div>