<dimmer (click)='closeSelf()'></dimmer>

<div class='main-container'>
    <img class='background' src='../../assets/message_extra.png' alt=''>
    <div class='emojis'>
        <p class='space'></p>
        <g-button
            class='emoji'
            icon='../../assets/emojis/thumbs_up_icon.png'
            iconSize='13'
        ></g-button>
        <g-button
            class='emoji'
            icon='../../assets/emojis/winky_face_icon.png'
            iconSize='13'
        ></g-button>
        <g-button
            class='emoji'
            icon='../../assets/emojis/tears_of_joy_icon.png'
            iconSize='13'
        ></g-button>
        <g-button
            class='emoji'
            icon='../../assets/emojis/hearts_for_eyes_icon.png'
            iconSize='13'
        ></g-button>
        <g-button
            class='emoji'
            icon='../../assets/emojis/skeptical_icon.png'
            iconSize='13'
        ></g-button>
    </div>
    <div class='options'>
        <g-button
            class='options-button'
            icon='../../assets/copy_icon.png'
            iconSize='15'
            name='Copy'
            fontColor='white'
            fontSize='5'
        ></g-button>
        <g-button
            class='options-button'
            icon='../../assets/forward_icon.png'
            iconSize='15'
            name='Forward'
            fontColor='white'
            fontSize='5'
        ></g-button>
        <g-button
            class='options-button'
            icon='../../assets/pin_icon.png'
            iconSize='15'
            name='Pin'
            fontColor='white'
            fontSize='5'
        ></g-button>
        <g-button
            class='options-button'
            icon='../../assets/save_icon.png'
            iconSize='15'
            name='Save'
            fontColor='white'
            fontSize='5'
        ></g-button>
    </div>
</div>