.main-container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: red;;
}

.background{
    width: 100%;
}

.emojis{
    position: absolute;

    width: 100%;
    top: 5%;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    flex: 1;
}

.emojis{
    flex: 1;
}


.options{
    position: absolute;

    width: 100%;
    top: 43%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options-button{
    padding-left: 2%;
    padding-right: 2%;
}