.size{
    width: 100%;
}

.header{
    width: 100%;
    background: #373944;
    color: white;
    height: 1.7vw;
  
    font-size: 1.22vw;
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.board{
    width: 100%;
    height: 16.85vw;
    background: #F1F1F1;

    display: flex;
}

pinned{
    padding: 10px;
}