<div class = "size">
    <div class="pic">
        <img src="{{icon}}">
    </div>

    <div class = "info">

        <div class = "name-msg-more">
                <div class = "name-msg">
                    <div class ="name">
                        {{name}}
                    </div>
                    <div class = "msg">
                        {{last_edit}}
                    </div>
                </div>
              
                <div class = "more">
                    <img src="\assets\files\more.png">
                </div> 
        </div>

        <hr style="width: 95%;height:3%;text-align:left;margin-left:0;">
    </div>
</div>
