<div class='main-container'>

    <div class='button-row'>
        <g-button
            class='button'
            icon='../../assets/more_pin_icon.png'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/more_search_in_team_icon.png'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/more_member_icon.png'
        ></g-button>
    </div>
    <div class='button-row'>
        <g-button
            class='button'
            icon='../../assets/more_files_icon.png'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/more_calendar_icon.png'
        ></g-button>
        <g-button
            class='button'
            icon='../../assets/more_x_icon.png'
        ></g-button>
    </div>

</div>