.footer {
  position: fixed;
  max-width: 324px;
  min-width: 324px;
  max-height: 41px;
  bottom: 0px;
  height: 41px;
  background-color: #373944;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text {
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 14px;
}
