.size{
    display: flex;
    flex-direction: column;
    }
    
    .header{
        width: 100%;
        font-weight: bold;
        font-size: 33px;
        line-height: 44px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 10px;
        }