
<div class = gridAndFooter>
    <div class = "gridContainer">
        <g-button 
            class = "gridButton"
            background='../assets/table-tvgrid/notChosen.png'
            icon='../assets/table-tvgrid/1 Main.png'
            backgroundSize='9.21'
            iconSize='8.21'
        ></g-button>
        <g-button 
            class = "gridButton"
            background='../assets/table-tvgrid/notChosen.png'
            icon='../assets/table-tvgrid/1 Main + Chat.png'
            backgroundSize='9.21'
            iconSize='8.21'
        ></g-button>
        <g-button 
            class = "gridButton"
            background='../assets/table-tvgrid/notChosen.png'
            icon='../assets/table-tvgrid/2x2 Main + Chat.png'
            backgroundSize='9.21'
            iconSize='8.21'
        ></g-button>
        <g-button 
            class = "gridButton"
            background='../assets/table-tvgrid/notChosen.png'
            icon='../assets/table-tvgrid/3 Main.png'
            backgroundSize='9.21'
            iconSize='8.21'
        ></g-button>
        <g-button
            class = "gridButton"
            background ='../assets/table-tvgrid/notChosen.png'
            icon='../assets/table-tvgrid/3x3 Main.png'
            backgroundSize='9.21'
            iconSize='8.21'
        ></g-button>

    </div>
    <div class = footer>TV Grid</div>
</div>
