.gridContainer {
  display: grid;
  grid-template-columns: 9.652vw 9.652vw 9.652vw;
  padding-left: 0.757vw;
  padding-top: 0.8201vw;
}

.gridButton {
  margin-right: 0.44164vw;
  margin-bottom: 0.441vw;
  width: 9.21vw;
  height: 7.76vw;
}

.gridAndFooter {
  margin-left: 100px;
  margin-top: 100px;
  max-width: 30.347vw;
  border: 1px solid black;
  max-height: 20.5vw;
}
