<div class='main-container'>
    <img src='../../assets/table/table_menu_background.png' alt=''>
    <div class='container col'>
        
        <div>

            <br>
            <p id='menu-font'>Menus</p>
            <hr id='hr-menu'>

            <div id='menu-buttons' class='row '>
                <g-button
                    icon='../../assets/table/table_left_arrow.png'
                ></g-button>

                <g-button
                    icon='../../assets/table/manage_sound.png'
                    iconSize='160'
                ></g-button>
                <g-button
                    icon='../../assets/table/files.png'
                    iconSize='160'
                ></g-button>
                <g-button
                    icon='../../assets/table/participants.png'
                    iconSize='160'
                ></g-button>

                <g-button
                    icon='../../assets/table/table_right_arrow.png'
                ></g-button>
            </div>

        </div>

        <div>
            <p id='shortcut-font'>Shortcuts</p>
            <hr id='hr-shortcuts'>

            <div id='shortcuts' class='row'>
                <g-button
                    icon='../../assets/table/mute.png'
                    iconSize='90'
                ></g-button>
                <g-button
                    icon='../../assets/table/chat.png'
                    iconSize='90'
                ></g-button>
                <g-button
                    icon='../../assets/table/end_call.png'
                    iconSize='90'
                ></g-button>
            </div>
        </div>

        <g-button
            id='x-button'
            icon='../../assets/table/table_x_button.png'
        ></g-button>

    </div>
</div>
