<div class="size">
    <div class="header" (click) = "dropdownOpen = !dropdownOpen">
      {{header}}

      <g-button *ngIf = "dropdownOpen === false"
      class='aling-g-button'
      icon= '{{icon}}'
      ></g-button>

      <g-button *ngIf = "dropdownOpen === true"
      class='aling-g-button'
      icon= '../../../assets/files/showdown.png'
      ></g-button>

    </div>

    <div *ngIf ="dropdownOpen === false">
        <app-files
            *ngFor = "let file_item of file_list"
            [icon] = 'file_item.image'
            [name] = 'file_item.name'
            [last_edit] = 'file_item.last_edit'
        ></app-files>
      </div>
</div>