<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'Teams Files'
        src1 = '\assets\tv-grid\back-header.png'
        src3 = '\assets\fakos.png'
        (event1) = 'backClicked()'
    ></header>

    <div class="body">     
        <app-files-list
            *ngFor= 'let file_item of file'
            [header] = 'file_item.header'
            [icon] = 'file_item.icon'
            [file_list] = 'file_item.file_list'
        ></app-files-list>
    </div>

    <mobile-footer class='footer'></mobile-footer>

</div>