<div class="phone">
    <header class='header' style="background-color: #468189;"
        name= 'Teams Files'
        src1 = '\assets\tv-grid\back-header.png'
        src3 = '\assets\fakos.png'
        (event1) = 'backClicked()'
    ></header>

    <div class="body">     
        <app-files-list
            *ngFor= 'let files of files_array'
            [header] = 'files.header'
            [icon] = 'files.icon'
        ></app-files-list>
    </div>

    <mobile-footer class='footer' activeTab='teams'></mobile-footer>

</div>